<template>
    <lightning-tabset variant="vertical" active-tab-value={selectedId}>
        <lightning-tab label="Dashboard" value="dashboard" onactive={handleTabActive}>
            <div class="tab-panel">
                <c-async-dashboard></c-async-dashboard>
            </div>
        </lightning-tab>

        <lightning-tab label="Backlog" value="backlog" onactive={handleTabActive}>
            <div class="tab-panel">
                <c-async-backlog></c-async-backlog>
            </div>
        </lightning-tab>

        <lightning-tab label="Errors" value="errors" onactive={handleTabActive}>
            <div class="tab-panel">
                <c-async-errors></c-async-errors>
            </div>
        </lightning-tab>

        <lightning-tab
            label="Job Configurations"
            value="job-configurations"
            onactive={handleTabActive}
        >
            <div class="tab-panel">
                <c-async-job-configurations></c-async-job-configurations>
            </div>
        </lightning-tab>

        <lightning-tab label="Performance" value="performance" onactive={handleTabActive}>
            <div class="tab-panel">
                <c-async-performance></c-async-performance>
            </div>
        </lightning-tab>

        <lightning-tab label="Settings" value="settings" onactive={handleTabActive}>
            <div class="tab-panel">
                <c-async-settings></c-async-settings>
            </div>
        </lightning-tab>
    </lightning-tabset>
</template>
